spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dding
    username: dding
    password: ddingpw
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.hibernate.SQL: debug

server:
  port: 8080
